<% meta_title "#{@user.username}'s ShoutBox &bull; Help-QA.com" %>

<div class="shout-title">
  <i>Shoutbox: </i> <a href="<%= user_path(@user) %>" class="underline"><%= @user.username %></a> is listening
  <p>Just a simple "Hello", "Thanks", or chat! <a href="<%= user_path(@user) %>" class="underline">Back to <%= @user.username %>'s profile...</a></p>
  <hr>
</div>

<div class="shout-wrapper">
  <div class="shout-list">
    <%= render partial: "index", locals: { shouts: @shouts } %>
  </div>
  <div class="new-shout">
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <p>You're welcome to leave a shout for yourself... But you'll have to provide both sides of the conversation!</p>
      <% else %>
        <p>Leave a shout for <%= @user.username %></p>
      <% end %>
      <%= form_for [@user, Shout.new] do |f| %>
        <%= f.text_area :body, rows: 10, class: "autofillable-field" %>
        <div class="text-right">
          <%= f.submit "Shout!" %>
        </div>
      <% end %>
    <% else %>
      <p>You must be signed in to leave shouts for Helpers</p>
    <% end %>
    <div class="shout-users">
      <div class="title">Shouts From:</div>
      <% @shouts_from.each do |shouter| %>
        <%= avatar(shouter.avatar(size: 65), size: 65, href: user_path(shouter), title: shouter.username) %>
      <% end %>
    </div>
  </div>
</div>
