<div class="shout-title">
  <i>ShoutTrail: </i> <a href="<%= user_path(@user) %>" class="underline"><%= @user.username %></a> and <a href="<%= user_path(@other_user) %>" class="underline"><%= @other_user.username %></a>
  <p>Just a simple "Hello", "Thanks", or chat! <a href="<%= user_path(@user) %>" class="underline">Back to <%= @user.username %>'s profile...</a></p>
  <hr>
</div>

<div class="shout-wrapper stretch-children">
  <div class="shout-list">
    <%= render partial: "index", locals: { shouts: @shouts, hide_shouttrail: true } %>
  </div>
  <div class="new-shout">
    <% if @other_user == current_user %>
      <p>You're welcome to leave a shout for yourself... But you'll have to provide both sides of the conversation!</p>
    <% else %>
      <p>Leave a shout for <%= @other_user.username %></p>
    <% end %>
    <%= form_for [@other_user, Shout.new] do |f| %>
    <!-- shout_to other_user -->
      <%= f.text_area :body, rows: 10 %>
      <div class="text-right">
        <%= f.submit "Shout!" %>
      </div>
    <% end %>
  </div>
</div>
