<% meta_title "#{@user.username}'s ShoutTrail with #{@other_user.username} • Help-QA.com" %>

<div class="shout-title">
  <i>ShoutTrail: </i> <a href="<%= user_shouts_path(@user) %>" class="underline"><%= @user.username %></a> and <a href="<%= user_shouts_path(@other_user) %>" class="underline"><%= @other_user.username %></a>
  <p>Just a simple "Hello", "Thanks", or chat! <a href="<%= user_path(@other_user) %>" class="underline">Back to <%= @other_user.username %>'s profile...</a></p>
  <hr>
</div>

<div class="shout-wrapper">
  <div class="shout-list">
    <%= render partial: "index", locals: { shouts: @shouts, hide_shouttrail: true } %>
  </div>
  <div class="new-shout">
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <p>Leave a shout for <%= @other_user.username %></p>
        <%= form_for [@other_user, Shout.new] do |f| %>
          <%= f.text_area :body, rows: 8, class: "autofillable-field" %>
          <div class="text-right">
            <%= f.submit "Shout!" %>
            <% if @other_user == current_user %>
              (Shouting yourself)
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>This shout trail doesn't involve you. Visit the shoutbox of either user to leave a shout for them!</p>
      <% end %>
    <% else %>
      <p>You must be signed in to leave shouts for Helpers</p>
    <% end %>
  </div>
</div>
