<% meta_title "Account Invites &bull; Help-QA.com" %>

<% if @unread_only %>
  <%= link_to "Show All", {} %>
<% else %>
  <%= link_to "Show Unread Only", {show: :unread} %>
<% end %>

<%= paginate @invites %>

<% @invites.each do |invite| %>
  <p><%= hover_icon("new", "New Notice!") if invite.unread? %> <%= invite.notice_message %></p>
<% end %>

<%= paginate @invites %>
