<% meta_title "Account Invites &bull; Help-QA.com" %>

<% @unread.each do |groupable_identifier, invites| %>
  <p><%= hover_icon("new", "New Invite!") %> <%= invites.first.notice_message %></p>
<% end %>

<hr>

<%= paginate @invites %>

<% @invites.each do |invite| %>
  <%= invite.notice_message %></p>
<% end %>

<%= paginate @invites %>
