<% content_for(:title) { "Frequently Asked Questions at HelperNow.co" } %>

<h1>Everything a New User Needs to Know</h1>

<div class="faq-wrapper">
  <ol id="new-user-nav">
    <li><a href="#sect1">What can I do on HelperNow.co?</a></li>
    <li><a href="#sect2">How do I find people to help?</a></li>
    <li><a href="#sect3">What are the benefits of a verified membership account on HelperNow.co?</a></li>
    <li><a href="#sect4">How do I set up a verified membership account?</a></li>
    <li><a href="#sect5">How can I get an account login link?</a></li>
    <li><a href="#sect6">What is bad behavior on HelperNow.co?</a></li>
    <li><a href="#sect7">How to I report problems?</a></li>
    <li><a href="#sect8">How do I use the Shoutbox?</a></li>
    <li><a href="#sect9">What is the Friends List for?</a></li>
    <li><a href="#sect10">What are the green or red dots next to a username?</a></li>
    <li><a href="#sect11">How do I find people to help?</a></li>
    <li><a href="#sect12">Why can't people younger than 13 years old use HelperNow.co?</a></li>
    <li><a href="#sect13">How do you keep minors from seeing adult or explicit questions and replies?</a></li>
    <li><a href="#sect14">How can I follow new replies to a Post?</a></li>
    <li><a href="#sect15">Can I hide my username when I write a post?</a></li>
    <li><a href="#sect16">Can I hide my username when I write a reply?</a></li>
    <li><a href="#sect17">Why do some comments await approval?</a></li>
    <li><a href="#sect18">How do I close my account here on HelperNow.co?</a></li>
    <li><a href="#sect19">Does HelperNow.co have a policy on religion?</a></li>
    <li><a href="#sect20">Can I advertise a product or service on HelperNow.co?</a></li>
    <li><a href="#sect21">Which codes, formatting, directives and HTML can I use in posts and replies?</a></li>
    <li><a href="#sect22">Why is my number of shouts dropping?</a></li>
    <li><a href="#sect23">Can I invite ALL my friends to a post?</a></li>
    <li><a href="#sect24">HelperNow.co Moderators</a></li>
    <li><a href="#sect25">How we place users on Maps</a></li>
    <li><a href="#sect26">Unknown and Undisclosed Locations</a></li>
    <!-- <li><a href="#sect27">Advance Search Techniques</a></li> -->
    <li><a href="#sect28">What are the shape icons for anonymous users?</a></li>
  </ol>

  <div id="new-user-sections">
    <div id="sect1">
      <h3>What can I do on HelperNow.co?</h3>
      <p>The concept behind HelperNow.co is easy. This is an online community for asking questions and giving advice.</p>
      <p>There is no limit to the types of questions you can ask. If another user has relevant experience or knowledge to share, they will volunteer a reply. The answers aren't always instant -- especially if research is involved -- so check back occasionally.</p>
      <p>Ask any question you want. Discuss any topic. If your attitude is positive and constructive, any opinion is considered helpful and worth expressing.</p>
    </div>

    <div id="sect2">
      <h3>How do I find people to help?</h3>
      <p>There are few simple ways to get involved with helping others here:</p>
      <ul>
        <li>Scan the Homepage of HelperNow.co and read new questions as they are published. (You can jump to the homepage at any time by clicking the "HelperNow.co" appearing in the upper left corner of any page.)</li>
        <li>The Notices Page: If you have a verified account, you will get a link to any post with tags that match any the tags you gave yourself on your Profile Page. This is the easiest way to stay on top of questions you have a particular interest in seeing. You also have the option of setting your Account to email you messages whenever new posts of interest to you are published.</li>
        <li>Use Tag search box to review all past posts using the same tag. This search box is located in the upper-left column of the homepage. Type in a tag name like "trucks" and you will see a list of every question ever posted that used the tag "trucks".</li>
      </ul>
    </div>

    <div id="sect3">
      <h3>What are the benefits of a verified membership account on HelperNow.co?</h3>
      <p>Membership is free. All we ever require is a working email address from you. We do this in order to give you the full benefits of verified membership in the HelperNow.co community.&nbsp;Once we verify your email address, your permanent membership account includes the following features:</p>
      <ul>
        <li>Email alerts any time you get a new reply to any of your posts</li>
        <li>Notification every time a new question is posted in a category of special interest to you. </li>
        <li>A "Shoutbox" where you can receive messages from users and friends</li>
        <li>Ability to build a "friends list" of fellow users you think are helpful</li>
        <li>Ability to invite your friends to a specific post you feel they may be able to help out on.</li>
      </ul>
    </div>

    <div id="sect4">
      <h3>How do I set up a verified membership account?</h3>
      <p>Setting up an account is free and easy. You can immediately start off with a temporary account that allows you to ask questions and post replies - but this account will deactivate after 24 hours. At that point, any posts/replies you wrote will be removed from public view.</p>
      <p>Step 1: In order to start using HelperNow.co, write a question or reply to a post. Simply supply your email address* when asked. This sets up your temporary account.</p>
      <p><em>* = Note, you must be 13 years of age or older to register.</em></p>
      <p>Step 2: After replying or posting a question, you must do a one-time email verification of your account. If you give us a correct email address, we will email you a welcome letter that includes a <strong>secure login link</strong> that is unique to your account. (So don't show it to anyone else or they could impersonate you!) Simply click this login link and your account will become verified and registered as permanent. </p>
      <p>Notice that this login link sends you to your <strong>Account Administration</strong> page. We do this because we strongly encourage people to fill in their profile information. The rest of the community is more likely to interact with you if they know a little about you and your interests.</p>
    </div>

    <div id="sect5">
      <h3>How can I get an account login link?</h3>
      <p>We send you a secure login link in several welcome emails, but if you fail to see any of these, click this link to have another login link emailed to your in-box at any time:</p>
      <p><a href="<%= new_user_registration_path %>"><%= new_user_registration_url %></a></p>
      <p>An email will immediately be sent to you, however, if you see nothing for several minutes please check to see if the email was directed to your junk mail or spam folder instead of your in-box. Open the message and find the secure web link to your Account Administration page. As you click this link, your account will become permanent. It also jumps you to your Account Administration page.</p>
    </div>

    <div id="sect6">
      <h3>What is bad behavior on HelperNow.co?</h3>
      <p>All opinions are worthy of being heard - we only ask that the advice at least be given with the intention of genuinely trying to help others. Our goal is to make participation in discussions both civilized and informative. Users who engage is serious misbehavior that hurts the experience of others in the community can have their accounts blocked.</p>
      <p>Your account can be banned if you do anything to hurt the usability of the HelperNow.co for other community members. Here are the 5 easiest ways to get your account banned:</p>
      <ol>
        <li>Encouraging self-destructive behavior; or violence and abuse towards others.</li>
        <li>Lying about your true age.</li>
        <li>
          Speaking rudely to other HelperNow.co users.
          <br>
          Disagreement is definitely allowed, but we do not allow name calling, swearing or attacks on anybody's gender, race, religion (or lack thereof), nationality or sexual orientation.
        </li>
        <li>
          Harassing other community members.
          <br>
          HelperNow.co will not knowingly allow itself to be a venue for vendettas and feuds between individual users.
        </li>
        <li>
          Writing posts about fake emergency situations.
          <br>
          Example: falsely claiming you are contemplating suicide.
        </li>
      </ol>
      <p>The HelperNow.co staff has the final word on what is and is not bad behavior. If you believe another user is engaging in inappropriate behavior, do not argue with the other user. Simply alert a HelperNow.co community moderator. He/she will investigate, give a warning if necessary, or block an account if a serious violation of community standards of conduct is confirmed. </p>
    </div>

    <div id="sect7">
      <h3>How to I report problems?</h3>
      <p>If you have questions, concerns or worries about any HelperNow.co website features or fellow community members, please leave a message in the HelperNow.co community suggestion box and one of our moderators will get right back to you: </p>
      <p><a href="<%= feedback_path %>"><%= feedback_url %></a></p>
    </div>

    <div id="sect8">
      <h3>How do I use the Shoutbox?</h3>
      <p>This is a great place to type brief text messages of thanks or encouragement for fellow users. You can access the Shoutbox in two ways:</p>
      <ul>
        <li>If you see a user's name associated with a post or reply, click on that user's name. This will jump you to a Profile Page. Click the number listed below "Shoutouts". </li>
        <li>You will often see small icons next to a user's name. Next to a picture of a bullhorn is a number. Click this icon or the number and you will jump to the Shoutout page for that user.</li>
      </ul>
    </div>

    <div id="sect9">
      <h3>What is the Friends List for?</h3>
      <p>Relationships develop as you get to know other users on HelperNow.co. If you want to add a person to your Friends List you will be able to invite them to help answer questions you need help with. </p>
      <p>You can add a person to your Friends List by clicking the add-a-friend icon located next to a username that appears in a reply to a post. (The icon looks like a person's head and shoulders, but with a green addition sign.)</p>
      <p>Note that this will add the user to your list under the category of "favorites". The other user will now see you listed on his/her list as a "fan". If the other user agrees to be your friend, only then do you both appear as "friends" on each other's lists.</p>
    </div>

    <div id="sect10">
      <h3>What are the green or red dots next to a username?</h3>
      <p>If a user is logged into HelperNow.co they will have a green dot next to their name. The dot is red colored if the user is logged out. </p>
    </div>

    <div id="sect11">
      <h3>Am I allowed to include links to other websites or web pages in my posts and replies?</h3>
      <p>Yes, adding links is fine. Including links to good online resources is a great way to help people.</p>
    </div>

    <div id="sect12">
      <h3>Why can't people younger than 13 years old use HelperNow.co?</h3>
      <p>It is illegal for HelperNow.co to knowingly allow children younger than 13 years of age to join the HelperNow.co member community. This rule exists because HelperNow.co complies with the U.S. government's Children's Online Privacy Protection Act of 1998 (COPPA).</p>
    </div>

    <div id="sect13">
      <h3>How do you keep minors from seeing sexually explicit questions and replies?</h3>
      <p>Sometimes content can be sexually explicit and adult, but still be of legitimate help to people. Consequently, HelperNow.co allows the content to exist while keeping it hidden from minors.</p>
      <p>We ask all users to provide their year of birth. If they are 18 years of age or older, users will be able to see any post the HelperNow.co staff has identified as being adult or sexually explicit. These same posts and replies will remain invisible to any user who is younger than 17 or younger or anyone who refuses to provide year of birth data.</p>
      <p>At the same time, HelperNow.co recognizes that sexual education or health questions are often appropriate for young teens. To the best of our ability, HelperNow.co tries to ensure that these questions only get answered in a way that is scientific and serious minded. Anyone who is concerned about the appropriateness of a particular post or reply is encouraged to report the post directly to the community moderator.</p>
      <p>At the bottom of every Post, there is a red "report" link which can be used to send reports of explicit material to the moderators at HelperNow.co </p>
      <p><a href="<%= feedback_path %>"><%= feedback_url %></a></p>
    </div>

    <div id="sect14">
      <h3>How can I follow new replies to a Post?</h3>
      <p>You can still easily read new replies to a question after the post disappears from the Homepage. The Notices page is a great tool for tracking new replies. </p>
      <p>If you write a question or a reply, your account's Notices page will automatically list links to every new reply that follows. </p>
      <p>If you are interested in following a conversation even though you haven't written a reply, you can still do it by "subscribing to updates". To do this, click the link that appears under the text of a question on a post's webpage. As before, you'll see links to new replies under the Notices page.</p>
    </div>

    <div id="sect15">
      <h3>Can I hide my username when I write a post?</h3>
      <p>Nobody is anonymous to the HelperNow.co webmaster, but it is possible for you to post a question without revealing your username to fellow HelperNow.co users. Here's how…</p>
      <p>When you write a post, simply check the "Post Anonymously" box before you submit the post. By entering an email address and choosing to post anonymously, we will be able to keep you up-to-date on replies and activity without revealing your identity to other members of the community. </p>
    </div>

    <div id="sect16">
      <h3>Can I hide my username when I write a reply?</h3>
      <p>It is also possible to post anonymous replies. Notice the check box labeled "Reply Anonymously" located next to the button for submitting replies. If you check that box and then click the submit button, your reply will be anonymous. This option, however, is only available for registered and verified members.</p>
    </div>

    <div id="sect17">
      <h3>Why do some comments await approval?</h3>
      <p>HelperNow.co uses automated filters to block from public view any post that includes a word or combination of symbols that can possibly be used in a manner that is insulting, pornographic, or threatening to others. This is why you might see a message telling you that your comment is awaiting approval.</p>
      <p>If your comment is flagged as needing human moderation, your comment will remain invisible to public view until a HelperNow.co staff member can review your comment for context and confirm if your intent was helpful or educational. Before the comment is made visible to the public, offensive words or phrases might be censored or changed.</p>
      <p>During regular business hours for the U.S. East Coast, comments requiring staff approval are processed very quickly. However, at night and on weekends, approval can take several hours.</p>
      <p>Longtime members of the HelperNow.co community who establish a solid track record of providing advice without resorting to vulgar words eventually gain the privilege of not having their comments go through the automated filter.</p>
    </div>

    <div id="sect18">
      <h3>How do I close my account here on HelperNow.co?</h3>
      <p>While we're very sad to hear that you're leaving, we're happy to help. To close your account at HelperNow.co visit the Settings tab in you Account Admin pages. Here you can disable emails we send out. Because no one can login as you, and we stop sending you emails, your account is effectively closed. </p>
      <p>This does not delete any of your past posts or replies. It merely prevents any future activity with this account. It also still remains possible to reactivate your account by logging in and picking up where you left off.</p>
    </div>

    <div id="sect19">
      <h3>Does HelperNow.co have a policy on religion?</h3>
      <p>HelperNow.co is not a religious website and it is not affiliated with any religious group. However, HelperNow.co is as appropriate a forum as any for general questions about religion, or questions that ask for a religious perspective on a problem. We welcome people who are inspired by their faith to help others and we recognize that many people find solutions through spirituality. At the same time, HelperNow.co attempts to balance this with an equal recognition of everyone's right to not have religious philosophy forced upon them.</p>
      <p>As a courtesy to our international community, we encourage HelperNow.co users to follow guidelines for mentions of religion in their questions and replies.</p>
      <ul>
        <li>Don't hide your faith, just avoid the "hard sell" of actually proselytizing and quoting scripture with the intent of winning converts.</li>
        <li>Never attack other religious faiths, or a person's lack of spirituality.</li>
        <li>Never condemn anyone else's behavior or life choices in religious terms, unless that other person clearly indicates they are open to hearing religious judgment. </li>
        <li>Limit suggesting religious solutions for problems to only posts where the original writer of a question has indicated an openness to discussing spirituality. </li>
      </ul>
    </div>

    <div id="sect20">
      <h3>Can I advertise a product or service on HelperNow.co?</h3>
      <p><strong>Warning!  We encourage our users to be skeptical and cautious of all promotions that appear as posts or replies.</strong>  HelperNow.co endorses none of the products or services that may appear on the website. HelperNow.co will not vouch for the honesty or trustworthiness of any promoter or business.</p>
      <p>That said, if the product or service is "helpful" to other users, registered users can promote their own products or services in their posts or replies. However, the following guidelines apply:</p>
      <ul>
        <li>A distinct service or product can only be written about and promoted in a single post. Additional posts about the same service or product will be considered spam and deleted.</li>
        <li>Promoting your service or product in replies to other posts is allowed, but only if personalized and directly relevant to the original question. Impersonal and irrelevant replies will be deleted.</li>
        <li>Cutting and pasting the same wording into multiple replies is forbidden. HelperNow.co considers this to be spam.</li>
        <li>The promotion can never ask other users to reveal personal contact or financial information about themselves as part of a reply to a post.</li>
      </ul>
      <p>Users who violate promotion guidelines can have their accounts banned. HelperNow.co reserves the right to delete any posts and replies that hurt the user experience on this site.</p>
    </div>

    <div id="sect21">
      <h3>Which codes, formatting, directives and HTML can I use in posts and replies?</h3>
      <p>HelperNow.co does NOT support HTML tags in posts or replies in order to protect our user's security. However, there are a variety of provided formatting tools that can be used to apply many of the same functionality.</p>
      <p>We will automatically detect links, as well as urls to images and videos- and will automatically show previews when added to your posts or replies.</p>
      <p>HelperNow.co supports basic Markdown and a few special "directives" to add to replies and posts:</p>
      <%= markdown(render_html: true, posted_by_user: User.helpbot) { File.read("lib/assets/raw_markdown.html").gsub("{{quote-icon}}", hover_icon("quote", "Quote this reply", tag: "i")) } %>
    </div>

    <div id="sect22">
      <h3>Why is my number of shouts dropping?</h3>
      <p>Shouts older than 30 days are not included in a user's shout count. </p>
    </div>

    <div id="sect23">
      <h3>Can I invite ALL my friends to a post?</h3>
      <p>At HelperNow.co, we discourage users from performing "blanket" invites to a post. If you are selective about who you invite to a post, invite selectively, and personalize the invitation message you will get a much better response rate.</p>
    </div>

    <div id="sect24">
      <h3>HelperNow.co Moderators</h3>
      <p>HelperNow.co promotes certain users to volunteer moderator positions. However, these moderators are not employees and do not represent our views. Additionally, volunteer moderators should never ask for personal information such as email address, passwords, credit card numbers, or social security numbers. If they do, please file a report about the action so that the WebMaster may look into this breach.</p>
    </div>

    <div id="sect25">
      <h3>How we place users on Maps</h3>
      <p>Everytime you visit a website, the website you are visiting has a record of your IP address logged with it. This address is a machine coded number that helps uniquely identify your computer on the internet. Using a freely available database, HelperNow.co can translate IP addresses to rough geographic areas (usually the nearest major metropoliton area).</p>
      <p>Additionally, every user is given the option to "place themselves" using the provided account tools so they can change their geographic location. We appreciate it when users stay close to reality. If you really live in the Antarctic, that's pretty cool, but otherwise please don't place yourself too far from where you really live.</p>
    </div>

    <div id="sect26">
      <h3>Unknown and Undisclosed Locations</h3>
      <p>While we make a great effort to provide location data for every user, this is not always possible. In these cases, the users location is marked as "Unknown".</p>
      <p>We also provide every user the option to hide their location. In these insstances, their location will be listed as "Undisclosed".</p>
    </div>

    <!-- <div id="sect27">
      <h3>Advance Search Techniques</h3>
      <p><strong>Boolean Mode</strong> is a way to narrow your search results down very precisely. Boolean mode allows you to add certain triggers to your search string which will change the outcome of the search. The three primary trigers in boolean mode are:</p>

      <dl>
        <dt>" Quote Marks</dt>
        <dd>When you surround a set of words with quote marks, it causes exact phrases to be returned </dd>
        <dt>+ Plus Sign</dt>
        <dd>The plus sign, when place before a quotemark group or a single word, will cause that word to be <strong>required</strong> in the search result </dd>
        <dt>- Minus Sign</dt>
        <dd>Like the plus sign, but minus will force the result to <strong>not have</strong> the word or phrase in the result. </dd>
      </dl>


      <p> For example, if you search for "<var>nuclear reactor</var>" the end results are not guaranteed to have both words. You may get a post about "<em>nuclear division</em>" or a post about "<em>reactor driven engines</em>". </p>
      <p>Using Boolean mode, your results can be forced to contain both "<em>nuclear</em>" and "<em>reactor</em>" by changing the search to "<var>+nuclear +reactor</var>". Now all of the results MUST have the words "<em>nuclear</em>" and "<em>reactor</em>". This is the <var>+</var> (plus) symbol at work. </p>
      <p>Instead, let's say you want results about "<em>nuclear division</em>", and definitely know it's not going to include "<em>reactor</em>". Simply change the + (plus) to a - (minus) "<var>+nuclear -reactor</var>" and, as noted above, no search results will contain the word "<em>reactor</em>" </p>
      <p>Perhaps, however,  you wanted the phrase, "<em>nuclear reactor</em>". Rerun the search, but this time include quotemarks ( " ) to group the term: <var>+"nuclear reactor"</var> This search means "<em>require the phrase '<var>nuclear reactor</var>' in each result</em>" and will get more targeted results. </p>
    </div> -->

    <div id="sect28">
      <h3>What are the shape icons for anonymous users?</h3>
      <p>Each anon user is assigned a unique "Anonicon" so that if several anonymous posters contribute to a thread, other user's can distinguish between the replies. Also, they're just fun!</p>
    </div>

  </div>
</div>
