<%= meta_no_index %>
<h1>Audit #<%= @audit.id %>: <%= @audit.audit_type %></h1>

<table class="audit-table">
  <tr>
    <td>Timestamp</td>
    <td><%= @audit.created_at.to_formatted_s(:basic) %></td>
  </tr>
  <tr>
    <td>Acting Ip</td>
    <td>
      <% if @audit.acting_ip.present? %>
        <%= link_to @audit.acting_ip, mod_audit_index_path(ip: @audit.acting_ip) %>
      <% else %>
        &gt;&gt; Manually edited from Console
      <% end %>
    </td>
  </tr>
  <% if @audit.acting_user_id.present? %>
    <tr>
      <td>Acting User</td>
      <td><%= link_to @audit.acting_user.username, @audit.acting_user %></td>
    </tr>
  <% end %>
  <tr>
    <td>Audited Object</td>
    <td><%= render partial: "object_cell", locals: {obj: @audit.obj} %></td>
  </tr>
  <% changes = @audit.changes %>
  <tr>
    <td>Pre-change Data</td>
    <td class="show-deleted"><%= render partial: "hash_cell", locals: {data: changes[:previous]} %></td>
  </tr>
  <tr>
    <td>Current Data</td>
    <td class="show-added"><%= render partial: "hash_cell", locals: {data: changes[:current]} %></td>
  </tr>
</table>
