<% replies ||= @replies || [] %>
<% replies.each do |reply| %>
  <div class="reply-wrapper" id="reply-<%= reply.id %>">
    <% if reply.is_a?(Sherlock) %>
      <% display_edits = false %>
      <% if reply.changed_attrs.keys.include?("closed_at") %>
        <% change = reply.changed_attrs["closed_at"] ? "reopened" : "closed" %>
      <% else %>
        <% display_edits = true %>
        <% change = "edited" %>
      <% end %>
      <div class="pending-reply info <%= 'display-changes' if display_edits %>" data-timestamp="<%= reply.created_at.to_i %>">
        <% author_name = @post.posted_anonymously? && @post.author == reply.acting_user ? "Anonymous" : reply.acting_user.username %>
        <strong><%= author_name %></strong> <%= change %> this post <%= timeago(reply.created_at) %>.
        <%= content_tag :i, "", class: "fa fa-chevron-down toggle-reply-display" if change == "edited" %>
      </div>
      <% if display_edits %>
        <div class="reply-container attached"><p class="show-changed"><%= reply.changed_body.to_s.html_safe %></p></div>
      <% end %>
      <% hide_reply = true %>
    <% end %>

    <% if reply.is_a?(PostInvite) %>
      <div class="pending-reply info" data-timestamp="<%= reply.created_at.to_i %>">
        <strong><%= reply.invited_anonymously? ? "Anonymous" : reply.user.username %></strong> invited <%= pluralize(reply.invited_users, "user") %> <%= timeago(reply.created_at) %>.
      </div>
      <% hide_reply = true %>
    <% end %>

    <% if reply.is_a?(Reply) && reply.in_moderation? %>
      <div class="pending-reply" data-timestamp="<%= reply.created_at.to_i %>">This reply from <strong><%= reply.username %></strong> is pending approval.</div>
      <% hidden_by_default = "attached pending" %>
      <% hide_reply = true unless current_mod? %>
    <% elsif reply.is_a?(Reply) && (reply.removed? || reply.author.banned? || (reply.marked_as_adult? && !current_user&.can_view?(reply))) %>
      <div class="pending-reply removed" data-timestamp="<%= reply.created_at.to_i %>">
        This reply has been removed.
        <% if current_mod? %>
          <i class="fa fa-chevron-down toggle-reply-display"></i>
        <% end %>
      </div>
      <% hidden_by_default = "attached removed" %>
      <% hide_reply = true unless current_mod? %>
    <% end %>

    <%= render partial: "replies/show", locals: { reply: reply, additional_classes: hidden_by_default } unless hide_reply %>
  </div>
<% end %>
