<% replies ||= @replies || [] %>
<% replies.each do |reply| %>
  <% if reply.is_a?(Sherlock) %>
    <div class="pending-reply info">
      <% author_name = @post.posted_anonymously? && @post.author == reply.changed_by ? "Anonymous" : reply.changed_by.username %>
      <% change = reply.changes["closed_at"].last ? "closed" : "reopened" %>
      <%= author_name %> <%= change %> this post <%= timeago(reply.created_at) %>.
    </div>
    <% next %>
  <% end %>
  <% if reply.has_questionable_text? %>
    <div class="pending-reply">This reply from <strong><%= reply.username %></strong> is pending approval.</div>
    <% hidden_by_default = true %>
    <% next unless current_user.try(:mod?) %>
  <% elsif reply.removed? || !current_user&.can_view?(reply) %>
    <div class="pending-reply removed">This reply has been removed.</div>
    <% hidden_by_default = true %>
    <% next unless current_user.try(:mod?) %>
  <% end %>
  <% author = reply.author %>
  <div class="reply-container <%= 'original-poster' if reply.same_author_as_post? %> <%= 'attached' if hidden_by_default %>" id="reply-<%= reply.id %>">
    <div class="reply-author">
      <%= avatar(reply.avatar, size: 40) %>
      <div class="reply-author-text">
        <div class="reply-author-info">
          <div class="reply-author-name">
            <%= hover_icon("vcard", "Original Poster") if reply.same_author_as_post? %>
            <% if reply.posted_anonymously? %>
              <span class="reply-username">Anonymous</span>
            <% else %>
              <a href="<%= user_path(reply.author) %>"><span class="reply-username"><%= reply.username %></span></a>
            <% end %>
          </div>
          <div class="reply-author-stats">
            <% unless reply.posted_anonymously? %>
              <%= render partial: "users/detail_icons", locals: { user: reply.author } %>
            <% end %>
            <%= link_to "#", "#reply-#{reply.id}" %>
          </div>
        </div>
        <div class="reply-info">
          <% if reply.location.present? %>
          <%# <a href="#"><= reply.location ></a> | %>
          <% else %>
          <%# <a href="#">An Undisclosed Location</a> | %>
          <% end %>
          <%= timeago(reply.created_at) %> (<%= time_difference_in_words(reply.created_at, reply.post.created_at, word_count: 1) %> after post)
        </div>
      </div>
      <div class="reply-options">
        <% if current_user.try(:mod?) %>
          <% if reply.marked_as_adult? %>
            <a href="<%= post_reply_mod_path(reply.post, reply, adult: false) %>" data-method="POST"><%= emoji(:baby, title: "Mark reply as Safe") %></a>
          <% else %>
            <a href="<%= post_reply_mod_path(reply.post, reply, adult: true) %>" data-method="POST"><%= emoji(:underage, title: "Mark reply as NSFW/Adult") %></a>
          <% end %>
          <% if reply.removed? %>
            <a href="<%= post_reply_mod_path(reply.post, reply, remove: false) %>" data-method="POST"><%= emoji(:sync, title: "Restore reply to post") %></a>
          <% else %>
            <a href="<%= post_reply_mod_path(reply.post, reply, remove: true) %>" data-method="POST"><%= emoji(:x, title: "Remove reply from post") %></a>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.verified? %>
          <% previous_favorite = current_user.favorite_reply_for_post(reply.post) %>
          <% if previous_favorite.nil? %>
            <%= hover_icon("medal-add", "Excellent reply? Mark it as your favorite.", href: post_reply_favorite_path(reply.post, reply)) %>
          <% elsif previous_favorite.reply == reply %>
            <%= hover_icon("medal", "Changed your mind? Unmark this as your favorite.", href: post_reply_unfavorite_path(reply.post, reply)) %>
          <% else %>
            <%= hover_icon("medal-add", "You've already favorited a reply for this post.", href: "#reply-#{reply.id}", class: "grayscale") %>
          <% end %>
        <% end %>
        <%= hover_icon("quote", "Quote this reply", class: "quote-reply", href: "#") %>
        <%= hover_icon("flag-red", "Report this reply to moderators", href: feedback_path(report_url: post_url(reply.post, anchor: "reply-#{reply.id}"))) %>
      </div>
    </div>
    <div class="reply-content" data-original-content="<%= reply.body %>"><%= markdown(posted_by_user: author) { reply.body } %></div>
    <% if false # TODO: Help Me? %>
      <div class="reply-reciprocity"></div>
    <% end %>
  </div>
<% end %>
