<% replies ||= @replies || [] %>
<% replies.each do |reply| %>
  <% author = reply.author %>
  <div class="reply-container <%= 'original-poster' if reply.same_author_as_post? %>" id="reply-<%= reply.id %>">
    <div class="reply-author stretch-children">
      <%= avatar(reply.avatar, size: 40) %>
      <div class="reply-author-text">
        <div class="reply-author-info">
          <div class="reply-author-name">
            <%= hover_icon("vcard", "Original Poster") if reply.same_author_as_post? %>
            <% if reply.posted_anonymously? %>
              Anonymous
            <% else %>
              <a href="<%= user_path(reply.author) %>"><%= reply.username %></a>
            <% end %>
          </div>
          <div class="reply-author-stats">
            <% unless reply.posted_anonymously? %>
              <%= render partial: "users/detail_icons", locals: { user: reply.author } %>
            <% end %>
            <%= link_to "#", "#reply-#{reply.id}" %>
          </div>
        </div>
        <div class="reply-info">
          <% if reply.location.present? %>
          <%# <a href="#"><= reply.location ></a> | %>
          <% else %>
          <%# <a href="#">An Undisclosed Location</a> | %>
          <% end %>
          <%= timeago(reply.created_at) %> (<%= time_difference_in_words(reply.created_at, reply.post.created_at, word_count: 1) %> after post)
        </div>
      </div>
    </div>
    <div class="reply-content"><%= reply.content %></div>
    <% if false # TODO: Help Me? %>
      <div class="reply-reciprocity"></div>
    <% end %>
  </div>
<% end %>
