<% content_for(:title) { "Account Notices &bull; Help-QA.com".html_safe } %>

<%= paginate @notices %>

<% @unread.each do |notice| %>
  <p><%= hover_icon("new", "New Notice!") if notice.unread? %> <%= notice.notice_message %></p>
<% end %>
<% @notices.each do |notice| %>
  <p><%= hover_icon("new", "New Notice!") if notice.unread? %> <%= notice.notice_message %></p>
<% end %>

<%= paginate @notices %>
