<% meta_title "Account Notices &bull; Help-QA.com" %>

<% @unread.each do |groupable_identifier, notices| %>
  <p><%= hover_icon("new", "New Notice!") %> <%= notices.first.notice_message %></p>
<% end %>

<hr>

<%= paginate @notices %>

<% @notices.each do |notice| %>
  <%= notice.notice_message %></p>
<% end %>

<%= paginate @notices %>
