<div class="front-page stretch-children">
  <div class="users-side">
    <div class="intro">
      <h6>Change Your World</h6>
      <p>Reach out at Helpernow.co to get personalized solutions to your problems and share your worldly insight with those that need your help.</p>
      <hr>
    </div>
    <div class="tags">
      Tags:
      <%= tags_container(@global_tags, min: 12, max: 12) %>,
      <a href="<%= tags_path %>" class="underline">all tags</a>, or just jump to a tag:
      <%= form_tag redirect_tags_path, class: "tag-search stretch-children" do %>
        <div class="field-wrapper">
          <input type="text" name="tag_name">
        </div>
        <div class="btn-wrapper">
          <button type="button" name="button">Goto Tag</button>
        </div>
      <% end %>
    </div>
    <% if @currently_popular_post %>
      <% post = @currently_popular_post %>
      <div class="popular-post">
        <h6>Currently Popular Post</h6>
        <a href="<%= post_path(post) %>" class="post stretch-children">
          <%= avatar(post.avatar, size: 30) %>
          <div class="words">
            <div class="title">
              <%= post.title %>
            </div>
            <div class="details">
              <strong>- <%= pluralize_with_delimiter(post.reply_count, "reply") %></strong> to <%= post.username %> @ <%= post.created_at.to_formatted_s(:short_with_time) %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
    <div class="recent-members">
      <h6>Most Recent Members Online</h6>
      <div class="members">
        <% @recent_members.each do |user| %>
          <%
            last_online = if user.online?
              "is online!"
            elsif (user.last_seen_at || user.created_at) > 30.hours.ago
              "last online: #{timeago(user.last_seen_at)}"
            else
              "last online: #{user.last_seen_at.to_formatted_s(:short_with_time)}"
            end
          %>
          <%= avatar(user.avatar, { href: user_path(user), size: 60, status: user.online? ? 'online' : 'offline', tooltip: { name: user.username, timestamp: last_online } }) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="posts-side">
    <div class="new-post-container">
      <%= form_for @post || Post.new do |f| %>
        <div class="text-area-wrapper">
          <% should_show_default_text = params[:post_text].blank? || Post.text_matches_default_text?(params[:post_text]) %>
          <%= f.text_area :body, rows: 6, class: "#{'js-clear-text-after-focus' if should_show_default_text}", value: params[:post_text].presence || Post::DEFAULT_POST_TEXT.html_safe %>
        </div>
        <div class="post-controls">
          <% unless user_signed_in? %>
            <label for="new-post-email">Email: </label>
            <input type="new-post-email" name="new_user[email]" value="<%= params.dig(:new_user, :email) %>">
          <% end %>
          <%= f.check_box :posted_anonymously, checked: params[:anonymous] == "1" %>
          <%= f.label :posted_anonymously, "Post Anonymously" %>
          <%= f.submit "Post!" %>
          <% unless user_signed_in? %>
            <div class="small-text">
              Email address is required <br>
              You must be 13 years or older
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="posts-wrapper">
      <h1>Most Recent Posts</h1>
      <div class="tags">
        Topics include:
        <% @current_tags.each do |tag| %>
          <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a>,
        <% end %>
        and <a href="<%= tags_path %>" class="underline">much more</a>...
      </div>
      <div class="posts-container">
        <%= render partial: "posts/index", locals: { posts: @recent_posts } %>
      </div>
      <div class="history">
        <a href="<%= history_path %>" class="underline">View and Search All Posts</a>
      </div>
    </div>
  </div>
</div>
