<div class="front-page stretch-children">
  <div class="users-side">
    <div class="intro">
      <h6>Change Your World</h6>
      <hr>
      <p>Reach out at Help.com to get personalized solutions to your problems and share your worldly insight with those that need your help.</p>
      <hr>
    </div>
    <div class="tags">
      Tags:
      <% @global_tags.each do |tag| %>
        <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a>,
      <% end %>
      <a href="<%= tags_path %>" class="underline">all tags</a>, or just jump to a tag:
      <div class="tag-search stretch-children">
        <div class="field-wrapper">
          <input type="text" name="" value="">
        </div>
        <div class="btn-wrapper">
          <button type="button" name="button">Goto Tag</button>
        </div>
      </div>
    </div>
    <% if @currently_popular_post %>
      <% post = @currently_popular_post %>
      <div class="popular-post">
        <span class="text-bold">Currently Popular Post</span>
        <hr>
        <a href="<%= post_path(post) %>" class="post stretch-children">
          <%= avatar(post.avatar, size: 30) %>
          <div class="words">
            <div class="title">
              <%= post.title %>
            </div>
            <div class="details">
              <strong>- <%= pluralize_with_delimiter(post.replies.count, "reply") %></strong> to <%= post.username %> @ <%= post.created_at.to_formatted_s(:short_with_time) %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
    <div class="recent-members">
      <h6>Most Recent Members Online</h6>
      <hr>
      <div class="members">
        <% @recent_members.each do |user| %>
          <%
            last_online = if user.online?
              "is online!"
            elsif user.last_seen_at > 30.hours.ago
              "last online: #{timeago(user.last_seen_at)}"
            else
              "last online: #{user.last_seen_at.to_formatted_s(:short_with_time)}"
            end
          %>
          <%= avatar(user.avatar, { href: user_path(user), size: 60, status: user.online? ? 'online' : 'offline', tooltip: { name: user.username, timestamp: last_online } }) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="posts-side">
    <div class="new-post-container">
      <div class="text-area-wrapper">
        <textarea name="name" rows="6" class="js-clear-text-after-focus"><%= "Start Here.\n\nAsk a question, post a rant, tell us your story.".html_safe %></textarea>
      </div>
      <div class="post-controls">
        <label for="new-post-email">Email: </label>
        <input type="email" name="new-post-email" value="">
        <input type="checkbox" name="new-post-anonymous" value="">
        <label for="new-post-anonymous">Post Anonymously</label>
        <label for="new-post-submit"></label>
        <button type="button" name="new-post-submit">Post!</button>
        <div class="small-text">
          Email address is required <br>
          You must be 13 years or older
        </div>
      </div>
    </div>
    <div class="posts-wrapper">
      <h3>Most Recent Posts</h3>
      <hr>
      <div class="tags">
        Topics include:
        <% @current_tags.each do |tag| %>
          <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a>,
        <% end %>
        and <a href="<%= tags_path %>" class="underline">much more</a>...
      </div>
      <div class="posts-container">
        <% @recent_posts.each do |post| %>
          <a href="<%= post_path(post) %>" class="post-container stretch-children">
            <%= avatar(post.avatar, size: 50) %>
            <div class="post-description">
              <div class="title">
                <%= post.title %>
              </div>
              <div class="post-information">
                by <strong><%= post.username %></strong><%= " from #{post.location}" if post.location.present? %> on <%= post.created_at.to_formatted_s(:short_with_time) %> - <%= pluralize_with_delimiter(post.replies.count, "reply") %> and <%= pluralize_with_delimiter(post.views.count, "view") %>
              </div>
              <div class="tags">
                Tags: <%= post.tags.count_order.first(5).map(&:tag_name).join(", ") %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="history">
        <a href="<%= posts_path %>" class="underline">View and Search All Posts</a>
      </div>
    </div>
  </div>
</div>
