<h2>Edit Account</h2>

<%= render partial: "accounts/completion", locals: { completion: resource.account_completion } %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <% if resource.date_of_birth.present? %>
      <%= f.hidden_field :date_of_birth %>
      <label>DOB: <%= resource.date_of_birth %></label>
    <% else %>
      <%= f.label :date_of_birth, "Your birthday:" %>
      <em>ex: Month/Day/Year like <strong>02/02/2010</strong></em> <br />
      <%= f.text_field :date_of_birth %>
      <%# , value: "#{rand(12).to_s.rjust(2, "0")}/#{rand(30).to_s.rjust(2, "0")}/#{1990 + rand(30)}" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "New password" %> <i>(only if you want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
