<div class="detail-icons">
  <%=
    if user.online?
      hover_icon(:online, "Online now!")
    elsif (user.last_seen_at || user.created_at) > 30.days.ago
      hover_icon(:offline, "last online: #{timeago(user.last_seen_at)}")
    else
      hover_icon(:offline, "last online: #{(user.last_seen_at || user.created_at).to_formatted_s(:short_with_time)}")
    end
  %>
  <%= hover_icon("star", "Help-QA Volunteer Moderator") if user.mod? && !user.admin? %>
  <%= hover_icon("shield", "Help-QA Admin") if user.admin? %>
  <%= hover_icon("grave", "Deceased") if user.deceased? %>
  <% if user.verified? %>
    <%= hover_icon("user-green", "Verified User (#{time_difference_in_words(DateTime.current, user.verified_at)})") %>
  <% else %>
    <%= hover_icon("user-red", "Not Verified (Joined #{time_difference_in_words(DateTime.current, user.created_at)} ago)") %>
  <% end %>
  <% if user_signed_in? && user != current_user %>
    <% if current_user.added?(user) %>
      <%= hover_icon("user-rem", "Remove #{user.username} from your Friends", href: remove_friend_user_path(user), method: :put) %>
    <% else %>
      <%= hover_icon("user-add", "Add #{user.username} as your Friend", href: add_friend_user_path(user), method: :put) %>
    <% end %>
  <% end %>
  <%= hover_icon("hourglass", "Long Term User") if user.long_term_user? %>
  <%= hover_icon("megaphone", "Shoutout", href: user_shouts_path(user), text: user.recent_shouts.count) %>
</div>
