<% meta_title "#{@user.username}'s Profile at Help-QA.com" %>
<% content_for(:description) do %>
  <%= "#{@user.username} has #{@user.friends.count} and helps in #{@user.tags_from_replies.count} tags like: #{@user.tags_from_replies.count_order.first(5).join(', ')}" %>
<% end %>

<div class="user-page-container">

  <div class="user-info">
    <div class="username"><%= @user.username %></div>
    <%= render partial: "users/detail_icons", locals: { user: @user } %>
  </div>
  <% if current_mod? %>
    <ul class="moddable">
      <li>IP: <a href="<%= users_path(ip_search: @user.current_sign_in_ip || @user.last_sign_in_ip) %>"><%= @user.current_sign_in_ip || @user.last_sign_in_ip %></a></li>
      <li>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></li>
      <li>--</li>
      <li>
        Ban User:
        <a href="<%= moderate_user_path(@user, ban: :day) %>" data-method="post">1 day</a> -
        <a href="<%= moderate_user_path(@user, ban: :week) %>" data-method="post">1 week</a> -
        <a href="<%= moderate_user_path(@user, ban: :month) %>" data-method="post">1 month</a> -
        <a href="<%= moderate_user_path(@user, ban: :permanent) %>" data-method="post">Perma-Ban</a> -
        <a href="<%= moderate_user_path(@user, ban: :ip) %>" data-method="post">
          <% if BannedIp.where(ip: @user.current_sign_in_ip || @user.last_sign_in_ip).any? %>
            Unban IP Address
          <% else %>
            Ban IP Address
          <% end %>
        </a>
      </li>
      <% if @user.can_use_chat? %>
        <li>Revoke access: <a href="<%= moderate_user_path(@user, revoke: :chat) %>" data-method="post">Chat</a></li>
      <% else %>
        <li>Grant access: <a href="<%= moderate_user_path(@user, grant: :chat) %>" data-method="post">Chat</a></li>
      <% end %>
    </ul>
  <% end %>

  <div class="profile-wrapper">
    <div class="mini-profile">
      <div class="title">Mini-Profile</div>
      <%= avatar(@user.avatar, size: 200) %>
      <div class="bio" data-inline-links>
        <% @user.profile.editable_attributes.each do |attr_key, sentence| %>
          <% text = @user.profile.send(attr_key) %>
          <% next if text.blank? %>
          <% unless attr_key == :about %>
            <p><strong><%= sentence %></strong></p>
          <% end %>
          <%= markdown { text } %>
        <% end %>
      </div>
      <div class="friends-list-wrapper">
        <div class="friends-list-title">
          <%= @user.username %>
          <% friend_count = @user.friends.count %>
          <% case friend_count %>
          <% when 0 %>
            has no friends yet.
          <% when 1 %>
            has 1 friend.
          <% else %>
            has <%= friend_count %> friends. Here are <%= friend_count > 30 ? 30 : friend_count %> of them.
          <% end %>
        </div>
        <div class="friends-list">
          <% @user.friends.first(30).each do |friend| %>
            <%= avatar(friend.avatar(size: 40), size: 40, href: user_path(friend), title: friend.username) %>
          <% end %>
        </div>
        <% if @user.aka.any? %>
          <h6>AKA</h6>
          <div class="aka"><%= @user.aka.join(", ") %></div>
        <% end %>
      </div>
    </div>

    <div class="user-activity">
      <div class="title">User Involvement</div>
      <table class="user-stats">
        <tr class="user-stat-name">
          <td>Posts</td>
          <td>Subscriptions</td>
          <td>Replies</td>
          <td>Shoutouts</td>
          <td>Tags Followed</td>
          <td>Posts Touched</td>
          <td>Favorites, Fans, and Friends</td>
        </tr>
        <tr class="user-stat-value">
          <td data-label="Posts" title="Posts"><a href="<%= history_path(by_user: @user.username) %>" class="underline"><%= number_with_delimiter(@user.posts.count) %></a></td> <%# Posts %>
          <td data-label="Subscriptions" title="Subscriptions"><%= number_with_delimiter(@user.subscriptions.count) %></td> <%# Subscriptions %>
          <td data-label="Replies" title="Replies"><a href="<%= user_replies_path(@user) %>" class="underline"><%= number_with_delimiter(@user.replies.count) %></a></td> <%# Replies %>
          <td data-label="Shoutouts" title="Shoutouts"><a href="<%= user_shouts_path(@user) %>" class="underline"><%= number_with_delimiter(@user.recent_shouts.count) %></a></td> <%# Shoutouts %>
          <td data-label="Tags Followed" title="Tags Followed"><%= number_with_delimiter(@user.tags_from_posts.count) %></td> <%# Tags Followed %>
          <td data-label="Posts Touched" title="Posts Touched"><%= number_with_delimiter(@user.replies.pluck(:post_id).uniq.count) %></td> <%# Posts Touched %>
          <td data-label="Favs/Fans/Friends" title="Favorites, Fans, and Friends"><%= number_with_delimiter(@user.favorites.count) %>/<%= number_with_delimiter(@user.fans.count) %>/<%= number_with_delimiter(@user.friends.count) %></td> <%# Favorites, Fans, and Friends %>
        </tr>
      </table>
      <div class="activity-graphs">
        <div class="title">Activity</div>
        <%= render partial: "activity" %>
      </div>
      <div class="recent-posts">
        <% if @recent_posts.count > 1 %>
          <div class="title">Last <%= @recent_posts.count %> Posts Authored</div>
        <% elsif @recent_posts.count == 1 %>
          <div class="title">Last Post Authored</div>
        <% elsif @recent_posts.count == 0 %>
          <div class="title">No Posts Authored</div>
        <% end %>
        <% @recent_posts.each do |post| %>
          <div class="recent-post">
            <a href="<%= post_path(post) %>"><%= post.title %></a> <i>written (<%= timeago(post.created_at) %>) ago</i>
            <p><%= post.preview_content %></p>
          </div>
          <hr>
        <% end %>
        <% if @recent_posts.count > 0 %>
          <div class="post-index-wrapper">
            <a href="<%= history_path(by_user: @user.username) %>">All Claimed Posts »</a>
          </div>
          <hr>
        <% end %>
      </div>
      <% if @top_replies.any? %>
        <div class="top-replies">
          <div class="title"><%= hover_icon("medal", "Top Replies") %> <%= @user.username %>'s Top (<%= [@top_replies.count, 5].min %>) Replies by other users' votes</div>
          <% @top_replies.limit(5).each do |reply| %>
            <div class="post-reply-container">
              <div class="post-reply-title"><a href='<%= post_path(reply.post, anchor: "reply-#{reply.id}") %>' class="underline"><%= reply.post.title %></a></div>
              <div class="reply-text">
                <div class="quote-container">
                  <%= markdown(posted_by_user: @user) { reply.body } %>
                  <i>- written <%= timeago(reply.created_at, word_count: 2) %> - voted for by <%= reply.favorited_by.map { |user| "<a href=\"#{user_path(user)}\" class=\"underline\">#{user.username}</a>" }.join(", ").html_safe %></i>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="recent-replies">
        <div class="title">Last <%= pluralize([@replies.count, 5].min, "Reply") %> - <a href="<%= user_replies_path(@user) %>">All <%= pluralize_with_delimiter(@replies.count, "Reply") %> »</a></div>
        <% @replies.limit(5).each do |reply| %>
          <div class="post-reply-container">
            <div class="post-reply-title"><a href='<%= post_path(reply.post, anchor: "reply-#{reply.id}") %>' class="underline"><%= reply.post.title %></a></div>
            <div class="reply-text">
              <div class="quote-container">
                <%= markdown(posted_by_user: @user, except: [:link_previews]) { reply.body } %>
                <i>- written <%= timeago(reply.created_at, word_count: 2) %></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if @user.mod? %>
        <div class="mod-abilities">
          <h6>
            <% if @user.admin? %>
              <%= hover_icon(:shield, "HerlpNow.co Admin") %>
            <% else %>
              <%= hover_icon(:star, "Help-QA.com Volunteer Moderator") %>
            <% end %>
            <%= @user.username %> has been granted the following permissions at Help-QA.com
          </h6>
          <p>IP Banning, Post Moderation, Adult Mark Posts, Edit Posts, Reply Moderation, Adult Mark Replies, Remove Replies, Reports Moderation, Tag Moderation, Ban Users, Revoke Chat Ability, View Anonymous User, View User Details, View User Email</p>
          <p>Help-QA.com gives certain volunteer users moderator permissions. However, these moderators are not employees of Help-QA, and do not necessarily represent our views. Additionally, volunteer moderators should <strong>never</strong> ask for personal information such as email address, passwords, credit card numbers, or social security numbers. As a user, you are permitted to deny any requested information from these moderators. If you believe a moderator is abusing the permissions granted to them, please <a href="<%= feedback_path %>" class="underline">file a report</a> so that we may look into this breach.</p>
        </div>
      <% end %>
      <div class="post-tags">
        <div class="title"><%= @user.username %> is tagged...</div>
        <div class="tags">
          <% tags = @user.tags_from_posts.count_order %>
          <% tags.first(30).reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
            <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
          <% end %>
          <% if tags.length > 30 %>
            and <%= number_with_delimiter(tags.length - 30) %> more...
          <% end %>
        </div>
      </div>
      <div class="reply-tags">
        <div class="title"><%= @user.username %>'s conversations are tagged...</div>
        <div class="tags">
          <% tags = @user.tags_from_replies.count_order %>
          <% tags.first(30).reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
            <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
          <% end %>
          <% if tags.length > 30 %>
            and <%= number_with_delimiter(tags.length - 30) %> more...
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
