<% content_for(:title) { "#{@user.username}'s Profile at HelperNow.co" } %>
<% content_for(:meta) do %>
  <% description = "#{@user.username} has #{@user.friends.count} and helps in #{@user.tags_from_replies.count} tags like: #{@user.tags_from_replies.count_order.first(5).join(', ')}" %>
  <meta name="description" content="<%= @user.username %> has <%=  %>">
<% end %>

<div class="user-page-container">

  <div class="user-info">
    <div class="username"><%= @user.username %></div>
    <%= render partial: "users/detail_icons", locals: { user: @user } %>
    <%# <div class="location"></div> %>
  </div>

  <div class="profile-wrapper">
    <div class="mini-profile">
      <div class="title">Mini-Profile</div>
      <%= avatar(@user.avatar, size: 200) %>
      <div class="bio" data-inline-links>
        <% @user.profile.editable_attributes.each do |attr_key, sentence| %>
          <% text = @user.profile.send(attr_key) %>
          <% next if text.blank? %>
          <% unless attr_key == :about %>
            <p><strong><%= sentence %></strong></p>
          <% end %>
          <%= markdown { text } %>
        <% end %>
      </div>
      <div class="friends-list-wrapper">
        <div class="friends-list-title">
          <%= @user.username %>
          <% friend_count = @user.friends.count %>
          <% case friend_count %>
          <% when 0 %>
            has no friends yet.
          <% when 1 %>
            has 1 friend.
          <% else %>
            has <%= friend_count %> friends. Here are <%= friend_count > 30 ? 30 : friend_count %> of them.
          <% end %>
        </div>
        <div class="friends-list">
          <% @user.friends.first(30).each do |friend| %>
            <%= avatar(friend.avatar, size: 40, href: user_path(friend), title: friend.username) %>
          <% end %>
        </div>
        <% if @user.aka.any? %>
          <h6>AKA</h6>
          <div class="aka"><%= @user.aka.join(", ") %></div>
        <% end %>
      </div>
    </div>

    <div class="user-activity">
      <div class="title">User Involvement</div>
      <table class="user-stats">
        <tr class="user-stat-name">
          <td>Posts</td>
          <td>Subscriptions</td>
          <td>Replies</td>
          <td>Shoutouts</td>
          <td>Tags Followed</td>
          <td>Posts Touched</td>
          <td>Favorites, Fans, and Friends</td>
        </tr>
        <tr class="user-stat-value">
          <td><a href="<%= history_path(by_user: @user.username) %>" class="underline"><%= number_with_delimiter(@user.posts.count) %></a></td> <%# Posts %>
          <td><%= number_with_delimiter(@user.subscriptions.count) %></td> <%# Subscriptions %>
          <td><a href="<%= user_replies_path(@user) %>" class="underline"><%= number_with_delimiter(@user.replies.count) %></a></td> <%# Replies %>
          <td><a href="<%= user_shouts_path(@user) %>" class="underline"><%= number_with_delimiter(@user.recent_shouts.count) %></a></td> <%# Shoutouts %>
          <td><%= number_with_delimiter(@user.tags_from_posts.count) %></td> <%# Tags Followed %>
          <td><%= number_with_delimiter(@user.replies.pluck(:post_id).uniq.count) %></td> <%# Posts Touched %>
          <td><%= number_with_delimiter(@user.favorites.count) %>/<%= number_with_delimiter(@user.fans.count) %>/<%= number_with_delimiter(@user.friends.count) %></td> <%# Favorites, Fans, and Friends %>
        </tr>
      </table>
      <div class="activity-graphs">
        <div class="title">Activity</div>
        <%= render partial: "activity" %>
      </div>
      <div class="recent-posts">
        <% if @recent_posts.count > 1 %>
          <div class="title">Last <%= @recent_posts.count %> Posts Authored</div>
        <% elsif @recent_posts.count == 1 %>
          <div class="title">Last Post Authored</div>
        <% elsif @recent_posts.count == 0 %>
          <div class="title">No Posts Authored</div>
        <% end %>
        <% @recent_posts.each do |post| %>
          <div class="recent-post">
            <a href="<%= post_path(post) %>"><%= post.title %></a> <i>written (<%= timeago(post.created_at) %>) ago</i>
            <p><%= post.preview_content %></p>
          </div>
          <hr>
        <% end %>
        <% if @recent_posts.count > 0 %>
          <div class="post-index-wrapper">
            <a href="<%= history_path(by_user: @user.username) %>">All Claimed Posts »</a>
          </div>
          <hr>
        <% end %>
      </div>
      <%# TODO: Add top replies for user %>
      <div class="recent-replies">
        <div class="title">Last <%= pluralize([@replies.count, 5].min, "Reply") %> - <a href="<%= user_replies_path(@user) %>">All <%= pluralize_with_delimiter(@replies.count, "Reply") %> »</a></div>
        <% @replies.limit(5).each do |reply| %>
          <div class="post-reply-container">
            <div class="post-reply-title"><a href='<%= post_path(reply.post, anchor: "reply-#{reply.id}") %>' class="underline"><%= reply.post.title %></a></div>
            <div class="reply-text">
              <div class="quote-container">
                <%= markdown(posted_by_user: @user) { reply.body } %>
                <i>- written <%= timeago(reply.created_at, word_count: 2) %></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="post-tags">
        <div class="title"><%= @user.username %> is tagged...</div>
        <div class="tags">
          <% tags = @user.tags_from_posts.count_order %>
          <% tags.first(30).reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
            <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
          <% end %>
          <% if tags.length > 30 %>
            and <%= number_with_delimiter(tags.length - 30) %> more...
          <% end %>
        </div>
      </div>
      <div class="reply-tags">
        <div class="title"><%= @user.username %>'s conversations are tagged...</div>
        <div class="tags">
          <% tags = @user.tags_from_replies.count_order %>
          <% tags.first(30).reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
            <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
          <% end %>
          <% if tags.length > 30 %>
            and <%= number_with_delimiter(tags.length - 30) %> more...
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
