<% should_show_date ||= false %>
<% messages ||= @messages %>
<% previous_message_date = Date.new %>
<% messages.each do |message| %>
  <% new_message_date = message.created_at.to_date %>
  <% if should_show_date && previous_message_date != new_message_date %>
    <div class="date-splitter"><%= new_message_date.strftime("%A, %B %-d") %></div>
  <% end %>
  <% previous_message_date = new_message_date %>
  <div class="message-container <%= 'highlight' if params[:message] == message.id.to_s %>" data-timestamp="<%= message.created_at.to_i %>" data-author-id="<%= message.author.id %>" data-message-id="<%= message.id %>">
    <div class="report">
      <%= hover_icon("flag-red", "Report this message to moderators", href: feedback_path(report_url: chat_url(message: message.id))) %>
      <% if current_mod? %>
        <%= hover_icon(:cross, "Remove Message", href: remove_message_path(message)) %>
      <% end %>
    </div>
    <div class="timestamp"><div class="timestamp-wrapper"><%= message.created_at.strftime("%H:%M") %></div></div>
    <a href="<%= user_path(message.author) %>"><%= avatar(message.author.avatar(size: 20), size: 20) %></a>
    <div class="body">
      <div class="username"><%= message.author.username %></div>
      <%= markdown(only: [:bold, :italic, :strike, :code]) { message.body } %>
    </div>
  </div>
<% end %>
<% if should_show_date && Date.today != previous_message_date %>
  <div class="date-splitter"><%= Date.today.strftime("%A, %B %-d") %></div>
<% end %>
