<% meta_title "Account Subscriptions • Help-QA.com" %>

<%= paginate @subscriptions %>

<% @subscriptions.each do |subscription| %>
  <% post = subscription.post %>
  <div class="unsubscribe-wrapper">
    <div class="unsubscribe-btn-container">
      <%= link_to account_subscription_path(subscription), method: :delete do %>
        <button type="button" name="button">Unsubscribe</button>
      <% end %>
    </div>
    <a href="<%= post_path(post) %>" class="post-container">
      <%= avatar(post.avatar(size: 50), size: 50) %>
      <div class="post-description">
        <div class="title">
          <%= post.title %>
        </div>
        <div class="post-information">
          by <strong><%= post.username %></strong><%#= " from #{post.location}" if post.location.present? %> on <%= post.created_at.to_formatted_s(:short_with_time) %> - <%= pluralize_with_delimiter(post.reply_count || 0, "reply") %> and <%= pluralize_with_delimiter(post.views.count, "view") %>
        </div>
        <div class="tags">
          Tags: <%= post.tags.count_order.first(5).map(&:tag_name).join(", ") %>
        </div>
      </div>
    </a>
  </div>
<% end %>

<%= paginate @subscriptions %>
