<% hide_tags ||= false %>

<% posts.each do |post| %>
  <a href="<%= post_path(post) %>" class="post-container" data-timestamp="<%= post.created_at.to_i %>" data-id="<%= post.id %>">
    <%= avatar(post.avatar(size: 50), size: 50) %>
    <div class="post-description">
      <div class="title"><%= markdown(with: [:ignore_previews], except: [:tags]) { post.title } %></div>
      <div class="post-information">
        <%= hover_icon(:lock, "This post is closed.", class: :small) if post.closed? %>
        <% if post.marked_as_adult? %>
          <div class="nsfw" title="Not Safe For Work / children - This post will not show up on the home page.">NSFW</div>
        <% end %>
        by <strong><%= post.username %></strong><%#= " from #{post.location}" if post.location.present? %> on <%= post.created_at.to_formatted_s(:short_with_time) %> - <%= pluralize_with_delimiter(post.reply_count || 0, "reply") %> and <%= pluralize_with_delimiter(post.views.count, "view") %>
      </div>
      <% unless hide_tags %>
        <div class="tags">
          Tags: <%= post.tags.count_order.first(5).map(&:tag_name).join(", ") %>
        </div>
      <% end %>
    </div>
  </a>
<% end %>
<% if posts.none? && !request.xhr? %>
  <p>No posts found</p>
<% end %>
