<div class="new-post-container">
  <%= form_for @post do |f| %>
    <div class="text-area-wrapper">
      <%= f.text_area :body, rows: 12, class: "autofillable-field" %>
    </div>
    <div class="form-field">
      <%= f.label :set_tags, "Add tags below separated by commas" %> <br>
      <%= f.text_field :set_tags %>
    </div>
    <div class="post-controls">
      <%= f.submit %>
    </div>
  <% end %>
</div>
