<% @post %>
<% @user %>
<% poll = @post.poll %>

<% if poll.present? %>

  <% if @user.present? && !@user.verified? %>
    <i>Please verify your account before voting:</i>
  <% end %>
  <% if @user.nil? %>
    <i>You must be <a href="<%= new_user_session_path %>" class="underline">logged in</a> to vote:</i>
  <% end %>

  <ol class="poll">
    <% poll.options.each do |option| %>
      <% total_votes = poll.votes.count %>
      <li>
        <% if @user.try(:verified?) && !poll.answered_by?(@user) %>
          <a href="<%= post_vote_path(@post, option: option) %>"><button>Vote</button></a>
        <% end %>
        <%= option.body %>
        <% if poll.answered_by?(@user) %>
          <% votes_for_option = option.votes.count %>
          <div class="poll-results">
            <span><%= pluralize(votes_for_option, "vote") %></span>
            <div class="vote-bar-wrapper">
              <div class="vote-bar" style="width: <%= (votes_for_option / total_votes.to_f) * 100 %>%;"></div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>

<% end %>
