<div class="post-container">
  <div class="author-details text-center">
    <% if @post.posted_anonymously? %>
      <%= avatar(@post.avatar, size: 200) %>
      <span class="anonymous">This post left anonymously</span>
    <% else %>
      <%= avatar(@post.avatar, size: 200, href: user_path(@post.author)) %>
      <div class="username"><%= @post.username %></div>
      <%= render partial: "users/detail_icons", locals: { user: @post.author } %>
      <%# <div class="location"></div> %>
    <% end %>
  </div>
  <div class="words">
    <div class="title">
      <%= @post.title %>
    </div>
    <div class="body"><%= markdown(poll_post_id: @post.id, posted_by_user: @post.author) { @post.body[@post.title.length..-1] } %></div>
    <div class="details">
      This <strong><%= @post.open? ? "open" : "closed" %></strong> post was written <strong><%= timeago(@post.created_at) %></strong> |
      Views: <%= @post.views.count %>,
      Subscribers: <%= @post.subscriptions.count %> |
      <strong><a href="<%= edit_post_path(@post) %>" class="underline">Edit Post</a></strong> |
      <a href="#" class="underline" data-scroll-to="">Leave a reply</a> |
      <a href="<%= feedback_path(report_url: post_url(@post)) %>" class="underline danger">Report Post</a>
    </div>
  </div>
</div>

<div class="reciprocity post-section">
  <div class="post-section-detail">Reciprocity (?)</div>
  <div class="post-section-content">
    Since writing this post... TODO
  </div>
</div>

<div class="tags post-section">
  <div class="post-section-detail">Post Tags (<%= @post.tags.count %>)</div>
  <div class="post-section-content">
    <% @post.tags.reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
      <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
    <% end %>
  </div>
</div>

<div class="replies post-section">
  <div class="post-section-detail">Replies (<%= @replies.count %>)</div>
  <div class="post-section-content">
    <div class="replies-container">
      <%= render partial: "replies/index", locals: { replies: @replies } %>
    </div>
    <div class="new-reply-container">
      <%= form_for [@post, Reply.new] do |f| %>
        <%= f.label :body, "Reply:" %>
        <%= f.text_area :body, rows: 12, class: "js-clear-text-after-focus", value: "Post a reply" %>
        <% if user_signed_in? %>
          Post as <strong><%= current_user.username %></strong> (No? <%= link_to "Logout", destroy_user_session_path, class: "underline", method: :delete %>)
        <% else %>
          <%= label_tag "new_user[email]", "Your Email:" %>
          <%= text_field_tag "new_user[email]", "", class: "full-width" %>
        <% end %>

        <%= f.check_box :posted_anonymously, checked: params[:anonymous] == "1" %>
        <%= f.label :posted_anonymously, "Post Anonymously?" %>
        <%= f.submit "Send Reply" %>
      <% end %>
    </div>
  </div>
</div>

<div class="invites post-section">
  <div class="post-section-detail"></div>
  <div class="post-section-content">
    <p><small>HelperNow supports basic <a href="<%= faq_path(anchor: 'sect-21') %>">markdown</a>. <br>
      Invite friends to post by tagging them with @username!</small></p>
  </div>
</div>
