<% content_for(:title) { "#{@post.tags.count_order.first.try(:tag_name)} help: #{@post.title}" } %>

<div class="post-container">
  <div class="author-details text-center">
    <% if @post.posted_anonymously? %>
      <% options = {size: 200} %>
      <% options.merge!(href: user_path(@post.author)) if current_user.try(:mod?) %>
      <%= avatar(@post.avatar, options) %>
      <span class="anonymous">This post left anonymously</span>
    <% else %>
      <%= avatar(@post.avatar, size: 200, href: user_path(@post.author)) %>
      <div class="username"><%= @post.username %></div>
      <%= render partial: "users/detail_icons", locals: { user: @post.author } %>
      <%# <div class="location"></div> %>
    <% end %>
  </div>
  <div class="words">
    <% if @post.marked_as_adult? %>
      <div class="nsfw" title="Not Safe For Work / children - This post will not show up on the home page.">NSFW</div>
    <% end %>
    <div class="title"><%= markdown(only: []) { @post.title } %></div>
    <div class="body" data-inline-links><%= markdown(poll_post: @post, posted_by_user: @post.author) { @post.body[@post.title.length..-1] } %></div>
    <div class="details">
      This <strong><%= @post.open? ? "open" : "closed" %></strong> post was written <strong><%= timeago(@post.created_at) %></strong> |
      Views: <%= @post.views.count %>,
      Subscribers: <%= @post.subscriptions.count %> |
      <% if @post.author == current_user || current_user.try(:can_edit_posts?) %>
        <strong><a href="<%= edit_post_path(@post) %>" class="underline">Edit Post</a></strong> |
      <% end %>
      <a href="#reply_body" class="underline">Leave a reply</a> |
      <a href="<%= feedback_path(report_url: post_url(@post)) %>" class="underline danger">Report Post</a>

      <% if current_user.try(:mod?) %>
        <% if @post.nsfw? %>
          | <a href="<%= post_mod_path(@post, adult: false) %>" data-method="POST"><i class="emoji lg" title="Mark post as Safe">👶🏻</i></a>
        <% else %>
          | <a href="<%= post_mod_path(@post, adult: true) %>" data-method="POST"><i class="emoji lg" title="Mark post as NSFW/Adult">🔞</i></a>
        <% end %>
        <% if @post.closed? %>
          | <a href="<%= post_mod_path(@post, close: false) %>" data-method="POST"><%= hover_icon(:check, "Reopen Post") %></a>
        <% else %>
          | <a href="<%= post_mod_path(@post, close: true) %>" data-method="POST"><%= hover_icon(:cross, "Close Post") %></a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% reciprocity = @post.author.reciprocity(@post.created_at) %>
<div class="reciprocity post-section">
  <div class="post-section-detail reciprocity-<%= reciprocity.positive? ? 'some' : 'none' %>">
    <div class="text-wrapper">
      <span>Reciprocity (<%= reciprocity %>)</span>
      <%= hover_icon(reciprocity.positive? ? :check : :cross, "Reciprocity") %>
    </div>
  </div>
  <div class="post-section-content reciprocity-<%= reciprocity.positive? ? 'some' : 'none' %>">
    <% if @post.created_at > 4.days.ago %>
      <% if reciprocity.positive? %>
        Since writing this post <strong><%= @post.username %></strong> has helped <%= pluralize(reciprocity, 'person') %>.
      <% else %>
        Since writing this post <strong><%= @post.username %></strong> <span class="deep">has not</span> helped any one.
      <% end %>
    <% else %>
      <% if reciprocity.positive? %>
        In the past four (4) days <strong><%= @post.username %></strong> has helped <%= pluralize(reciprocity, 'person') %>.
      <% else %>
        Since writing this post <strong><%= @post.username %></strong> may have helped people, but <span class="deep">has not</span> within the last four (4) days.
      <% end %>
    <% end %>
  </div>
</div>

<div class="tags post-section">
  <div class="post-section-detail">Post Tags (<%= @post.tags.count %>)</div>
  <div class="post-section-content">
    <% @post.tags.count_order.reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
      <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
    <% end %>
  </div>
</div>

<div class="replies post-section">
  <div class="post-section-detail">Replies (<%= @replies.count %>)</div>
  <div class="post-section-content">
    <div class="replies-container">
      <%= render partial: "replies/index", locals: { replies: @replies_with_notifications } %>
      <% if @post.closed? %>
        <div class="pending-reply closed">This post has been closed. Thanks for stopping by!</div>
      <% end %>
    </div>
    <% if @post.open? %>
      <div class="new-reply-container">
        <%= form_for [@post, Reply.new] do |f| %>
          <%= f.label :body, "Reply:" %>
          <%= f.text_area :body, rows: 12, class: "js-clear-text-after-focus autofillable-field", value: "Post a reply" %>
          <% if user_signed_in? %>
            Post as <strong><%= current_user.username %></strong> (No? <%= link_to "Logout", destroy_user_session_path, class: "underline", method: :delete %>)
          <% else %>
            <%= label_tag "new_user[email]", "Your Email:" %>
            <%= text_field_tag "new_user[email]", "", class: "full-width" %>
          <% end %>

          <%= f.check_box :posted_anonymously, checked: params[:anonymous] == "1" %>
          <%= f.label :posted_anonymously, "Post Anonymously?" %>
          <%= f.submit "Send Reply" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="invites post-section">
  <div class="post-section-detail"></div>
  <div class="post-section-content">
    <p>
      <small>HelperNow supports basic <a href="<%= faq_path(anchor: 'sect21') %>" class="underline">Markdown</a>,
      <a href="<%= faq_path(anchor: 'sect21') %>" class="underline">emoji 😁</a>,
      and tagging friends with <a href="<%= user_path(helpbot) %>" class="tagged-user">@username</a>!</small>
    </p>
  </div>
</div>
