<% meta_title "#{@post.tags.count_order.first.try(:tag_name)} help: #{@post.title}" %>

<% content_for(:mod_tools) do %>
  <% if current_mod? %>
    <div class="mod-tools">
      <% if @post.nsfw? %>
        <a rel="nofollow" href="<%= mod_post_path(@post, adult: false) %>" data-method="POST"><%= hover_icon(:link, "Mark post as Safe") %></a>
      <% else %>
        <a rel="nofollow" href="<%= mod_post_path(@post, adult: true) %>" data-method="POST"><%= hover_icon(:link_t, "Mark post as NSFW/Adult") %></a>
      <% end %>
      <% if @post.closed? %>
        <a rel="nofollow" href="<%= mod_post_path(@post, close: false) %>" data-method="POST"><%= hover_icon(:lock, "Reopen Post") %></a>
      <% else %>
        <a rel="nofollow" href="<%= mod_post_path(@post, close: true) %>" data-method="POST"><%= hover_icon(:lock_t, "Close Post") %></a>
      <% end %>
      <% if @post.in_moderation? %>
        <a rel="nofollow" href="<%= mod_post_path(@post, in_moderation: false) %>" data-method="POST"><%= hover_icon(:bell, "Unmoderate") %></a>
      <% else %>
        <a rel="nofollow" href="<%= mod_post_path(@post, in_moderation: true) %>" data-method="POST"><%= hover_icon(:bell_t, "Moderate") %></a>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="post-container" data-id="<%= @post.id %>">
  <div class="author-details text-center">
    <% if @post.posted_anonymously? %>
      <% options = {size: 200} %>
      <% options.merge!(href: user_path(@post.author)) if current_mod? %>
      <%= avatar(@post.avatar, options) %>
      <span class="anonymous">This post left anonymously</span>
      <% if current_mod? %>
        <a href="<%= user_path(@post.author) %>" title="<%= @post.author.username %>">Anonymous*</a>
      <% end %>
    <% else %>
      <%= avatar(@post.avatar, size: 200, href: user_path(@post.author)) %>
      <div class="username"><%= @post.username %></div>
      <%= render partial: "users/detail_icons", locals: { user: @post.author } %>
      <%# <div class="location"></div> %>
    <% end %>
  </div>
  <div class="words">
    <% if @post.marked_as_adult? %>
      <div class="nsfw" title="Not Safe For Work / children - This post will not show up on the home page.">NSFW</div>
    <% end %>
    <div class="title"><%= markdown(with: [:ignore_previews]) { @post.title } %></div>
    <div class="body" data-inline-links><%= markdown(poll_post: @post, posted_by_user: @post.author, with: [:inline_previews]) { @post.body[@post.title.length..-1] } %></div>
    <div class="details">
      This <strong><%= @post.open? ? "open" : "closed" %></strong> post was written <strong><%= timeago(@post.created_at) %></strong> |
      <br class="xsmall-down">
      Views: <%= @post.views.count %>,
      Subscribers: <%= @post.subscriptions.count %> |
      <br class="xsmall-down">
      <% if @post.author == current_user || current_user.try(:can_edit_posts?) %>
        <strong><a href="<%= edit_post_path(@post) %>" class="underline">Edit Post</a></strong> |
      <% end %>
      <a rel="nofollow" href="#reply_body" class="underline">Leave a reply</a> |
      <% if user_signed_in? %>
        <% if @post.user_subscribed?(current_user) %>
          <a rel="nofollow" href="<%= subscribe_post_path(@post, subscribe: false) %>" class="underline">Unsubscribe from Replies</a> |
        <% else %>
          <a rel="nofollow" href="<%= subscribe_post_path(@post, subscribe: true) %>" class="underline">Subscribe to Replies</a> |
        <% end %>
      <% end %>
      <a rel="nofollow" href="<%= feedback_path(report_url: post_url(@post)) %>" class="underline danger">Report Post</a>
    </div>
  </div>
</div>

<% reciprocity = @post.author.reciprocity(@post.created_at) %>
<div class="reciprocity post-section">
  <div class="post-section-detail reciprocity-<%= reciprocity.positive? ? 'some' : 'none' %>">
    <div class="text-wrapper">
      <span>Reciprocity (<%= reciprocity %>)</span>
      <%= hover_icon(reciprocity.positive? ? :check : :cross, "Reciprocity") %>
    </div>
  </div>
  <div class="post-section-content reciprocity-<%= reciprocity.positive? ? 'some' : 'none' %>">
    <% if @post.created_at > 4.days.ago %>
      <% if reciprocity.positive? %>
        Since writing this post <strong><%= @post.username %></strong> <span class="deep">has helped</span> <%= pluralize(reciprocity, 'person') %>.
      <% else %>
        Since writing this post <strong><%= @post.username %></strong> <span class="deep">has not</span> helped any one.
      <% end %>
    <% else %>
      <% if reciprocity.positive? %>
        In the past four (4) days <strong><%= @post.username %></strong> <span class="deep">has helped</span> <%= pluralize(reciprocity, 'person') %>.
      <% else %>
        Since writing this post <strong><%= @post.username %></strong> may have helped people, but <span class="deep">has not</span> within the last four (4) days.
      <% end %>
    <% end %>
  </div>
</div>

<div class="tags post-section">
  <div class="post-section-detail">Post Tags (<%= @post.tags.count %>)</div>
  <div class="post-section-content">
    <% @post.tags.count_order.reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
      <a rel="nofollow" href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
    <% end %>
  </div>
</div>

<div class="replies post-section">
  <div class="post-section-detail">Replies (<%= @replies.count %>)</div>
  <div class="post-section-content">
    <div class="replies-container">
      <%= render partial: "replies/index", locals: { replies: @replies_with_notifications } %>
      <% if @post.closed? %>
        <div class="pending-reply closed" data-timestamp="<%= @post.updated_at.to_i %>">This post has been closed. Thanks for stopping by!</div>
      <% end %>
    </div>
    <% if @post.open? %>
      <div class="reply-errors hidden"></div>
      <div class="new-reply-container">
        <%= form_for [@post, Reply.new], html: { id: "new-reply-form" } do |f| %>
          <div class="hidden editing-reply">
            <%= hidden_field_tag :id %>
            <a href="" class="underline pull-right cancel-edit">cancel</a>
            Edit the reply text below, then click "Send Reply" to update your reply.
          </div>
          <%= f.label :body, "Reply:" %>
          <%= f.text_area :body, rows: 8, class: "js-clear-text-after-focus autofillable-field", value: "Post a reply" %>
          <% if user_signed_in? %>
            Post as <strong><%= current_user.username %></strong> (No? <%= link_to "Logout", destroy_user_session_path, class: "underline", method: :delete %>)
          <% else %>
            <%= label_tag "new_user[email]", "Your Email:" %>
            <%= text_field_tag "new_user[email]", "", class: "full-width" %>
          <% end %>

          <div class="input-wrapper">
            <%= f.check_box :posted_anonymously, checked: params[:anonymous] == "1" || default_anonymous? %>
            <%= f.label :posted_anonymously, "Post Anonymously?" %>
          </div>
          <%= f.submit "Send Reply" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="invites post-section">
  <div class="post-section-detail"></div>
  <div class="post-section-content">
    <p>
      <small>Help-QA supports basic <a rel="nofollow" href="<%= faq_path(anchor: 'sect21') %>" class="underline">Markdown</a>,
      <a rel="nofollow" href="<%= faq_path(anchor: 'sect21') %>" class="underline">emoji 😁</a>,
      and tagging friends with <a rel="nofollow" href="<%= user_path(helpbot) %>" class="tagged-user">@username</a>!</small>
    </p>
  </div>
</div>
