<div class="post-container stretch-children">
  <div class="author-details text-center">
    <% if @post.posted_anonymously? %>
      <%= avatar(@post.avatar, size: 200) %>
      <span class="anonymous">This post left anonymously</span>
    <% else %>
      <%= avatar(@post.avatar, size: 200, href: user_path(@post.author)) %>
      <div class="username"><%= @post.username %></div>
      <div class="detail-icons"></div>
      <div class="location"></div>
    <% end %>
  </div>
  <div class="words">
    <div class="title">
      <%= @post.title %>
    </div>
    <div class="body"><%= @post.format_body %></div>
    <div class="details">
      This <strong><%= @post.open? ? "open" : "closed" %></strong> post was written <strong><%= timeago(@post.created_at) %></strong> |
      Views: <%= @post.views.count %>,
      Subscribers: <%= @post.subscriptions.count %> |
      <strong><a href="<%= edit_post_path(@post) %>" class="underline">Edit Post</a></strong> |
      <a href="#" class="underline" data-scroll-to="">Leave a reply</a> |
      <a href="<%= post_report_path(@post) %>" class="underline danger">Report Post</a>
    </div>
  </div>
</div>

<div class="reciprocity post-section stretch-children">
  <div class="post-section-detail">Reciprocity (?)</div>
  <div class="post-section-content">
    Since writing this post... TODO
  </div>
</div>

<div class="tags post-section stretch-children">
  <div class="post-section-detail">Post Tags (<%= @post.tags.count %>)</div>
  <div class="post-section-content">
    <% @post.tags.reverse.to_enum.with_index.reverse_each do |tag, ridx| %>
      <a href="<%= tag_path(tag) %>" class="underline"><%= tag.tag_name %></a><%= ',' unless ridx == 0 %>
    <% end %>
  </div>
</div>

<div class="replies post-section stretch-children">
  <div class="post-section-detail">Replies (<%= @replies.count %>)</div>
  <div class="post-section-content">

    <div class="replies-container">
      <%= render partial: "replies/index", locals: { replies: @replies } %>
    </div>

  </div>
</div>
