<% if invalid_url %>
  <%= url %>
<% elsif video_url %>
  <div class="video-container">
    <div class="video-wrapper">
      <% if should_iframe %>
        <iframe class="link-vid" src="<%= video_url %>" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
      <% else %>
        <video class="link-vid" src="<%= video_url %>" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen></video>
      <% end %>
    </div>
  </div>
  <br><a rel="external nofollow" href="<%= request_url %>" target="_blank" title="<%= title || url %>">[Original Link]</a><br>
<% elsif only_image %>
  <a rel="external nofollow" href="<%= request_url %>" class="link-img" target="_blank" title="<%= title || url %>">
    <span class="hidden"><%= truncate(url, length: 50, omission: "...") %></span>
    <img src="<%= image_url || url %>" alt="<%= title || url %>" onerror="this.className += 'hidden'; $(this).siblings().removeClass('hidden')">
  </a>
<% else %>
  <div class="link-preview-wrapper">
    <a rel="external nofollow" href="<%= request_url %>" class="link-preview" title="<%= url %>" data-img-src="<%= image_url %>" target="_blank">
      <div class="page-title">
        <%= truncate(title.to_s, length: 50, omission: "...") %>
      </div>
      <div class="original-page">
        <%= image_tag(favicon) if favicon.present? %>
        <%= hash_of_url_parts(url)[:host].to_s.gsub("www.", "") %>
      </div>
    </a>
  </div>
<% end %>
