<% if video_url %>
  <div class="video-container">
    <div class="video-wrapper">
      <% if iframe_video_url %>
        <iframe class="link-vid" src="<%= iframe_video_url %>" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
      <% else %>
        <video class="link-vid" src="<%= video_url %>" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen></video>
      <% end %>
    </div>
  </div>
<% elsif only_image %>
  <a rel="nofollow" href="<%= url %>" class="link-img" target="_blank" title="<%= title || url %>">
    <span class="hidden"><%= truncate(url, length: 50, omission: "...") %></span>
    <img src="<%= url %>" alt="<%= title || url %>" onerror="this.className += 'hidden'; $(this).siblings().removeClass('hidden')">
  </a>
<% else %>
  <a rel="nofollow" href="<%= url %>" class="link-preview" title="<%= url %>" data-img-src="<%= image %>" target="_blank">
    <div class="page-title">
      <%= truncate(title.to_s, length: 50, omission: "...") %>
    </div>
    <div class="original-page">
      <%= image_tag(favicon) if favicon.present? %>
      <%= hash_of_url_parts(url)[:host].to_s.gsub("www.", "") %>
    </div>
  </a>
<% end %>
