<div id="loading-notifications" class="loading-container hidden"><span></span><span></span><span></span></div>
<div class="navigation-wrapper">
  <div class="navigation-container">
    <a href="<%= root_path %>" class="navigation-head">HelpQA</a>
    <!-- <a href="/about">About</a> -->
    <a href="<%= tags_path %>">Tags</a>
    <a href="<%= history_path %>">Search</a>
    <a href="<%= faq_path %>">FAQ</a>
    <br class="xxsmall-only">
    <a href="<%= new_post_path %>">Start a New Post</a>
    <a href="<%= chat_path %>">Chat <div class="chat-list blip hidden"><%= number_of_users_in_chat %></div></a>
    <% if user_signed_in? %>
      <div class="profile-tab">
        <div class="account-wrapper">
          <small>Logged in as <strong><%= current_user.username %></strong> (<%= link_to "Logout", destroy_user_session_path, method: :delete %>)</small>
          <div class="account-dropdowns">
            <div class="dropdown-container">
              <a href="<%= user_path(current_user) %>" class="dropdown-clickable">Public Profile</a>
              <ul class="dropdown-list hidden">
                <a href="/history/claimed?by_user=<%= @user.id %>">My Posts</a>
                <a href="<%= user_replies_path(current_user) %>">My Replies</a>
                <!-- <a href="/map/near/me">Near Me</a> -->
              </ul>
            </div>
            <div class="dropdown-container">
              <a href="<%= account_settings_path %>" class="dropdown-clickable">Account Admin</a>
              <ul class="dropdown-list hidden">
                <a href="<%= account_settings_path %>">Main</a>
                <a href="<%= account_notices_path %>">Notices</a>
                <a href="<%= account_subscriptions_path %>">Subscriptions</a>
                <a href="<%= account_invites_path %>">Invites</a>
                <!-- <a href="/account/my-tags">My Tags</a> -->
                <a href="<%= account_profile_index_path %>">Profile</a>
                <a href="<%= account_friends_path %>">Friends</a>
                <a href="<%= avatar_account_path %>">Avatar</a>
                <a href="<%= account_settings_path %>">Settings</a>
                <!-- <a href="/map">Map</a> -->
                <% if current_mod? %>
                  <h6>Mod Tools</h6>
                  <a href="<%= mod_path %>">Mod Chat</a>
                  <a href="<%= all_feedback_path(resolution_status: :unresolved) %>">Feedback</a>
                  <a href="<%= users_path %>">Search Users</a>
                  <a href="<%= mod_bans_path %>">Bans</a>
                  <a href="<%= mod_audit_index_path %>">Audit Index</a>
                <% end %>
                <% if current_admin? %>
                  <a href="<%= admin_email_blobs_path %>">Emails</a>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="notices-container">
          <a href="<%= account_notices_path %>" class="notice-link">Notices: <span id="notifications-notices"><%= @notifications[:notices] %></span></a>
          <a href="<%= user_shouts_path(current_user) %>" class="notice-link">Shouts: <span id="notifications-shouts"><%= @notifications[:shouts] %></span></a>
          <a href="<%= account_invites_path %>" class="notice-link">Invites: <span id="notifications-invites"><%= @notifications[:invites] %></span></a>
          <% if current_mod? %>
            <a href="<%= queue_mod_path %>" class="notice-link" style="padding-top: 3px;">ModQ: <span id="notifications-mod-queue"><%= @notifications[:modq] %></span></a>
          <% end %>
        </div>
      </div>
    <% else %>
      <a href="<%= new_user_session_path %>">Login &amp; Registration</a>
    <% end %>
    <%= content_for(:mod_tools) %>
  </div>
</div>
