<!DOCTYPE html>
<html>
  <head>
    <title>Helpernow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="ctr-<%= controller_name %> act-<%= action_name %> <%= content_for :body_classes %>">
    <%= render 'layouts/flashes' %>
    <%= render 'layouts/navigation' %>
    <div class="body-wrapper">
      <%= yield %>
    </div>
    <div class="footer">
      <p>To use this site you must be 13 years or older and occasionally submit your email address. Your email address is only shared with your explicit permission.</p>
    </div>
  <% if content_for?(:modals) %>
    <%= yield(:modals) %>
  <% end %>
  <% if content_for?(:post_body_scripts) %>
    <%= yield(:post_body_scripts) %>
  <% end %>
  </body>
</html>
