<!DOCTYPE html>
<html>
  <head>
    <title>Helptogo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/flashes' %>
    <%= render 'layouts/navigation' %>
    <div class="body-wrapper">
      <%= yield %>
    </div>
  <% if content_for?(:modals) %>
    <%= yield(:modals) %>
  <% end %>
  <% if content_for?(:post_body_scripts) %>
    <%= yield(:post_body_scripts) %>
  <% end %>
  </body>
</html>
