<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/meta_tags" %>
    <%= render "application/favicon" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-106090486-1', 'auto');
      ga('send', 'pageview');
      current_username = "<%= current_user.try(:username) %>"
      current_userid = "<%= current_user.try(:id) %>"
      notifications_url = "<%= notifications_account_path %>"
    </script>
  </head>

  <% censor_class = user_signed_in? && !current_user.try(:settings).try(:censor_inappropriate_language) ? "no-censor" : "apply-censor" %>
  <body class="ctr-<%= controller_name %> act-<%= action_name %> <%= content_for :body_classes %> <%= censor_class %>">
    <%= render 'layouts/flashes' %>
    <%= render 'layouts/navigation' %>
    <div class="body-wrapper">
      <%= yield %>
    </div>
    <div class="footer">
      <p>To use this site you must be 13 years or older and occasionally submit your email address. Your email address is only shared with your explicit permission.</p>
      <div class="links">
        <a href="<%= privacy_policy_path %>">Privacy Policy</a> -
        <a href="<%= terms_of_service_path %>">Terms of Service</a> -
        <a href="<%= feedback_path %>">Feedback</a>
      </div>
    </div>
    <div id="pre-load" class="hidden"></div>
    <% cache "friend_loader", skip_digest: true do %>
      <% puts "Running cache for friend_loader".colorize(:yellow) %>
      <%= render partial: "layouts/invite_loader" %>
    <% end %>
    <% cache "emoji_loader", skip_digest: true do %>
      <% puts "Running cache for emoji_loader".colorize(:yellow) %>
      <%= render partial: "layouts/emoji_loader" %>
    <% end %>
    <%= yield(:modals) %>
    <%= yield(:post_body_scripts) %>
  </body>
</html>
